@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
	max-width: 1260px;
}
#main {
	background-color: #fef3ed;
	padding: 0 0 10px;
}
footer {
	display: block;
	background-color: #ff6801;
}
footer p {
	color: #fff;
	text-align: center;
	font-size: 1rem;
	padding: 10px;
}
p {
	margin: 0;
}
img {
	border: 0;
}
a {
	color: #342300;
}
a:hover {
	color: #a24100;
}
a.btn {
	display: block;
	width: 280px;
	height: auto;
	margin: auto;
	padding: 10px;
	background-color: #ff6801;
	color: #fff;
	text-align: center;
	text-decoration-line: none;
	font-size: 1.4rem;
	font-weight: bold;
	border-radius: 25px;
}
h1 {
	margin: 5px 50px 0px;
}
h2 {
	font-size: 1.8rem;
	text-align: center;
	margin: 20px;
}
h3 {
	font-size: 1.4rem;
	color: #ff6801;
	margin: 0;
}
section {
	width: 850px;
	margin: 0 auto;
	padding: 30px 20px 30px;
}
section:first-of-type {
	padding-top: 0;
}
section ul {
	list-style-type: none;
	padding-left: 30px;
	margin-bottom: 20px;
	font-size: 1.15rem;
	font-weight: bold;
}
section ul li {
	padding-bottom: 10px;
}
section ul li time {
	padding-right: 20px;
}
.hr {
	width: 850px;
	margin: 0 auto;
  	height: 2px;
    position: relative;
}
.hr::before {
    content: "";
    background-image: linear-gradient(to right, #e7ded7, #e7ded7 8px, transparent 8px, transparent 3px);
    background-size: 11px 2px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
